#identifler {
    background: cyan;
}

body {
    margin: 0; background-image: url('./page-background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.header {
    position: relative;
    width: 100%;
    bottom: 0;
    margin: 10vh;
    font-style: italic;
    color: rgb(48, 47, 2);
    font-weight: bold;
}

.zd {
    font-size: 1em;
    color: brown;
}

.todo-list {
    font-size: 2em;
    color: rgb(129, 63, 15);
    
}

.shover {
    text-decoration: blink;
    color: rgb(96, 29, 109);
    font-size: 5em;
}

.footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #3998b5;
    color: #fff;
    width: 100%;
}





